
  <div class="videocontent">
    <div class="videoitem">
        <img class="img-responsive" width="150px" height="" src="<%= asset_path( 'salary.svg' ) %>">
    </div>

      <div class="videoitem">
        <h3> Vous êtes récompensé </h3></br></br>
          <p>Vous recevez ensuite <span class=jumboemphaz>1 Shomi's </br></span>Les Shomis peuvent ensuite être échangés dans la Boutique pour obtenir des services dématérialisés.</p>
      </div>  
  </br></br>

</div>