<div class="videofield">
  <div class="videocontent">
    <div class="videoitem">
        <img class="img-responsive" width="250px" height="" src="<%= asset_path( 'salary.svg' ) %>">
    </div>

      <div class="videoitem">
        <h3> Vous Êtes Récompensés </h3></br></br>
          <p>Vous choisissez le contenu qui vous correspond le mieux.On sait depuis longtemps que travailler avec du texte lisible et contenant du sens est source de distractions, et empêche de se concentrer sur la mise en page elle-même. L'avantage du Lorem Ipsum sur un texte générique comme 'Du texte. Du texte. Du texte.' est qu'il possède une distribution de lettres plus ou moins normale, et en tout cas comparable avec celle du français standard. De nombreuses suites logicielles de mise en pa</p>
      </div>  
  </div></br></br>

</div>