<div class="videofield">
  <div class="videocontent">
    <div class="videoitem">
      <h3> Vous Répondez aux Questions </h3></br></br>
        <p>Après le visionnage de la vidéo, vous répondez à un court questionnaire. Ce questionnaire nous permettra de savoir si la vidéo a été visionnée activement. Il nous permettra également de collecter votre avis sur le contenu visionné</p>
    </div>  
    
    <div class="videoitem">
      <img class="img-responsive" width="200px" height="" src="<%= asset_path( 'sign-form.svg' ) %>">
    </div>
  </div>
</div>