<a name = "shomis">
<div class="shoptitle">
<h2>Gagner des Shomi's</h2>
</div>
  <div class="videocontent">
    <div class="videoitem">
      <img class="img-responsive" width="180px" height="" src="<%= asset_path( 'television.svg' ) %>">
    </div>
    <div class="videoitem">
      <h3> Vous Choisissez une Vidéo </h3></br></br>
      <p>Vous choisissez un contenu à visionner parmi ceux proposés par nos partenaires annonceurs. Ces vidéos sont pré-filtrées en fonction de vos préférences.
      Les vidéos courtes présentées sur Shomi durent entre 30 secondes et 1 minute
      </p>
    </div>
  </div>
</a>