<a name = "boutique">
<div class="prodetail">
  <div class="protitle">
  <h2>Notre proposition </h2><hr class="underline1"><strong><span class="subtitle">Avec Shomi, votre audience ne subit plus la pub, elle choisit quand elle la regarde</br>
  Avec Shomi, votre audience est rémunérée pour son engagement</br></strong>
    <div class="prosecondtitle">
    <h2>Une solution modulable pour votre entreprise<h2><hr class="underline2"><span class="subtitle">Grâce à notre hyper-targeting et à nos profils détaillés d'utilisateurs :</span>
    </div></div>
    <div class="cardsdisplay">
    <div class="card1">
    <div class="iconwrap"><i class="fas fa-bullseye" id="icontarget"></i></div></br>
    <div class="cardtext">
    Générez de l'engagement et des leads qualifiés</div>
    </div>
    <div class="card1">
    <div class="iconwrap"><i class="fas fa-comment-dots"></i></div></br>
    <div class="cardtext">
    Profitez d'un feedback utilisateur détaillé</div>
    </div>
    <div class="card1">
    <div class="iconwrap"><i class="fas fa-vial"></i></div></br>
    <div class="cardtext">
    Testez vos campagnes avant de les lancer</div>
    </div>
    </div>

</div>





</div>
</a>