<!-- Footer -->
<footer class="page-footer font-small blue-grey lighten-5">

 
  <!-- Footer Links -->
  <div class="container text-center text-md-left mt-5">

    <!-- Grid row -->
    <div class="row mt-3 dark-grey-text">

      <!-- Grid column -->
      <div class="col-md-3 col-lg-4 col-xl-3 mb-4">

        <!-- Content -->
        <img class="img-responsive" width="100px" height="" src="<%= asset_path( 'logo.svg' ) %>"></br></br>
        <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
        <span class="justifyparag"><p>Shomi est une plate-forme qui permet à ses utilisateurs d'avoir accès à des services en effectuant des actions quotidiennes.</p></span>

      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">

        <!-- Links -->


      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">

        <!-- Links -->

      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">

        <!-- Links -->
        <h6 class="text-uppercase font-weight-bold">Coordonnées</h6>
        <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
        <p>
        <img class="img-responsive" width="150px" height="" src="<%= asset_path( 'station_f.svg' ) %>">
        <p>
        7 parvis Alan Turing, 75013 Paris</br></br>
           contact@shomi.xyz</p>
    

      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row -->

  </div>
  <!-- Footer Links -->


</footer>
<!-- Footer -->