
<div class="jumbotron jumbpro py-2">
  <section id="cover">
    <div class="row prowrap">
      <div class="container column titlepro" id="titlepro"><h1>La publicité digitale capte seulement 20 % de l'attention de votre audience !</h1><hr class="title"></br><span class="subtitlepro"><strong>Shomi : Une délivrance pour votre audience trop souvent victime de campagnes agressives</strong></span>
      </div>
      <div class="imagewrap">
    <img class="img-responsive screenapp" src="<%= asset_path( 'appscreen.png' ) %>">
    </div>     
      </div>
    </section>
  </p>
</div>
