<nav class="navbar navbar-expand-md navbarland" id="navbarlanding"> 
  <div class="navlandmob">
      <img class="img-responsive logoland" src="<%= asset_path( 'logo.svg' ) %>">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">

      </button>
  </div>
      <div class="collapse navbar-collapse menuland" id="collapsibleNavbar">
        <ul class="navbar-nav">
          <li class="nav-item navmob">

          </li>
        </ul>
      </div>

</nav>  