<div class="partners">
  <div class="partnerstitle">
  <strong>Nos partenaires</strong>
  </div>
  <div class="partnerscontent">
  <img class="img-responsive pepite" src="<%= asset_path( 'pepite.png' ) %>">
  <img class="img-responsive stationf" src="<%= asset_path( 'station_f.svg' ) %>">
  <img class="img-responsive schoolab" src="<%= asset_path( 'schoolab.png' ) %>">
  </div>
</div>