
<div class="processus firstline" id="firstlinemenu">


      <div class="mdl-stepper-step active-step" id="step1"><%= link_to root_path(anchor: "shomis") do %>
        <div class="mdl-stepper-circle"><span>1</span></div>
        <div class="mdl-stepper-title">Vous Regardez une Vidéo</div>
        <div class="mdl-stepper-bar-left"></div>
        <div class="mdl-stepper-bar-right"></div><%end%>
      </div>
      <div class="mdl-stepper-step active-step" id="step1"><%= link_to root_path(anchor: "shomis") do %>
        <div class="mdl-stepper-circle"><span>2</span></div>
        <div class="mdl-stepper-title">Vous Répondez aux Questions</div>
        <div class="mdl-stepper-bar-left"></div>
        <div class="mdl-stepper-bar-right"></div><%end%>
      </div>
      <div class="mdl-stepper-step active-step" id="step1"><%= link_to root_path(anchor: "shomis") do %>
        <div class="mdl-stepper-circle"><span>3</span></div>
        <div class="mdl-stepper-title">Vous Recevez 1 Shomi's</div>
        <div class="mdl-stepper-bar-left"></div></a><%end%>
      </div>
</div>

<div class="processus secondline" id="secondlinemenu">
      <div class="mdl-stepper-step active-step" id="step4"><%= link_to root_path(anchor: "boutique") do %>
        <div class="mdl-stepper-circle"><span>4</span></div>
        <div class="mdl-stepper-title">Boutique Shomi's</div>
        <div class="mdl-stepper-bar-right"></div></a><%end%>
      </div>
</div>




  
  
  
  
  
