<a name = "boutique">
<div class="shopwrap">
  <div class="shoptitle">
  <h2>La Boutique </h2></div>
  <div class="shopcontent">

    <div class="item" id="shoplogos">
      <img class="img-responsive" width="100px" height="" src="<%= asset_path( 'vbucks.svg' ) %>"></br></br></br><h3> 1 000 V-Bucks = 50 Shomi's </h3>
    </div>

    <div class="item" id="shoplogos">
      <img class="img-responsive" width="100px" height="" src="<%= asset_path( 'riotpoint.svg' ) %>"></br></br></br><h3> 1 380 Riot Points = 50 Shomi's</h3>
    </div>

    <div class="item" id="shoplogos">
    <img class="img-responsive" width="100px%" height="" src="<%= asset_path( 'coin.svg' ) %>"></br></br></br> <h3>10 € = 50 Shomi's</h3>
    </div>

  </div>


</div>
</a>